@import './variables.scss';

.theme--light {
  .v-text-field.v-text-field--enclosed .v-text-field__details {
    padding: 0;
  }

  .v-btn.v-btn--disabled.v-btn--flat:not(.v-btn--icon) {
    background-color: #e9eff9;
    border: none !important;
  }

  &.v-btn.v-btn--disabled .v-icon,
  &.v-btn.v-btn--disabled .v-btn__loading {
    color: lighten(#838daa, 20%) !important;
  }

  .v-app-bar.v-toolbar.v-sheet {
    border-bottom: 1px solid #dbe0f0;
  }

  .container.fill-height {
    flex-direction: column !important;
    align-items: initial !important;
  }

  .v-data-table.theme--light {
    display: flex;
    flex-direction: column;

    .v-data-table__wrapper {
      flex: 1 1 100%;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
      border-radius: 8px;
      z-index: 1;
    }

    .v-data-footer {
      flex: none;
      background-color: #f6f7fb;
      color: #838daa;
      border-top-width: 0;
      justify-content: flex-start;
      padding: 8px 0;

      .v-text-field > .v-input__control > .v-input__slot::before,
      .v-text-field > .v-input__control > .v-input__slot::after {
        content: none;
      }

      .v-select__slot {
        border-radius: 4px;
        border: 1px solid #d2d8ed;
        padding-left: 5px;
        height: 24px;
        background-color: #fff;
      }

      .v-input__append-inner {
        margin-top: 0;

        .v-icon {
          font-size: 14px;
        }
      }
    }
  }

  .v-data-table > .v-data-table__wrapper > table > thead > tr > th {
    font-weight: 500;
    vertical-align: bottom;
    padding-bottom: 8px;
  }
  .v-data-table > .v-data-table__wrapper > table > tbody > tr:nth-child(even) {
    background-color: #f6f7fb;
  }
  .v-data-table > .v-data-table__wrapper > table > tbody > tr > td,
  .v-data-table > .v-data-table__wrapper > table > thead > tr > td,
  .v-data-table > .v-data-table__wrapper > table > tfoot > tr > td {
    height: 60px;
  }
  .v-data-table
    > .v-data-table__wrapper
    > table
    > tbody
    > tr:not(:last-child)
    > td:not(.v-data-table__mobile-row),
  .v-data-table
    > .v-data-table__wrapper
    > table
    > tbody
    > tr:not(:last-child)
    > th:not(.v-data-table__mobile-row) {
    border-bottom: none !important;
  }

  .v-sheet.v-card:not(.v-sheet--outlined) {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  }

  &.v-text-field--solo.v-text-field--transparent
    > .v-input__control
    > .v-input__slot {
    background: transparent;
  }

  a.v-btn--active::before,
  a.v-btn--active:hover::before {
    opacity: 0;
  }
  .v-treeview .v-treeview-node {
    cursor: pointer;
  }

  &.v-tabs > .v-tabs-bar {
    background-color: transparent;

    .v-tab {
      text-transform: none !important;
      border-bottom: 1px solid #d2d8ed;

      &:not(.v-tab--active) {
        color: #838daa;
      }
    }
  }
  .v-breadcrumbs {
    padding-left: 0;

    .v-breadcrumbs__item {
      color: #838daa;
      font-weight: 500;

      &.v-breadcrumbs__item--disabled {
        color: #2f4974;
        font-weight: 600;
      }
    }
  }
}
